.div-fondo1-1 {
    background-color: white;
    font-size: 1.7em;
}

.img-1 {
    width: 25em;
    height: 30em;
}

.div-fondo1-2 {
    background-color: white;
    font-size: 1em;
}

.img-2 {
    width: 20em;
    margin-bottom: 15px;
}

.div-fondo1-3 {
background-color: white;
font-size: 1em;
}

.img-3 {
    width: 20em;
}