.div2-fondo {
    font-size: 1.7em;
} 

.img-2 {

    width: 70em;
    height: 35em;
}

.div1-fondo {
    font-size: 1.2em;
}

.img-1 {
    margin-left: 5em;
    width: 25em;
}

.div3-fondo {

font-size: 1.1em;
}

.img-3 {
    margin-left: 5em;
    width: 25em;
}