.div-main {
    margin-top: 5em;
}

.ciudad {
    font-weight: 550;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texto-reserva {
    border: 1px solid;
    padding: 0.5em;
}

.div-reservar {
    margin-top: 1.5em;
    padding: 2em;
    background-color: rgba(231, 204, 164, 0.493);
}