.div-logo {
    margin: 8em 1em;
}

.div-header {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.671);
}

.div-header:hover {
    background-color: white;
}

.div1-main, .div2-main, .div3-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1-main, .div3-main {
    background-color: rgba(118, 167, 96, 0.301);
}

.tit {
    padding: 0.3em;
    font-size: 1.5em;
    border: 1px solid;
    margin-top: 3em;
}


/* Estilos img */

#img-logo {
    border: 2px solid;
    width: 30em;
}

/* Estilos fondos y div-fondo */

.div-slide {
    margin: 2em 0 0 2em;
}

.div1-fondo {
    display: flex;
    align-items: center;
    line-height: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.div2-fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.parrafo1 {
    margin-top: 2em;
    color: black;
}

i {
    margin-right: 0.5em;
    color: black;
}

/* Estilos Navbar */

.item-navbar {
    color: black;
}

.item-navbar:hover {
    border-bottom: 1px solid;
    color: black;
}

/* Parallax */

.nombre-roso {
    width: 40vw;
}

.parallax-header {
    background: #000;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.8)), url(../img/fondo-parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    padding: 100px 0 150px 0;
}