.div-header {
    background-image: url(../img/fondo-carta.jpg);
}

body {
    background-image: url(../img/fondo-carta.jpg);
}

.div-main {
    margin-top: 4.5em;
}

#div-entrantes {
    border-bottom: 1px solid;
    font-size: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.fila-entrantes1 {
    margin-top: 2em;
}

.tarj-plato {
    background-color: rgba(245, 234, 220, 0.486);
    margin: 1em;
}

.tarj-plato:hover {
    box-shadow: -1px 1px 20px 3px;
}

.nombre-plato {
    font-weight: 700;
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.precio-plato {
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

i{
    margin-right: 0.5em;
}